/* Reglas:
Selectores
Declaraciones
Propiedades
Valores 
*/
/* Selector de etiqueta header - section - article - nav */
/* Selector descendente */
/* body header div nav ol li a */ 
/* Selector de clase . */
/* .link */
/* Selector de id # */
/* #portafolio */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ock3qk');
    src:  url('../fonts/icomoon.eot?ock3qk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ock3qk') format('truetype'),
      url('../fonts/icomoon.woff?ock3qk') format('woff'),
      url('../fonts/icomoon.svg?ock3qk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong {
    color: #00b8d4;
}

h2 {
    color: #00b8d4;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 40px 0 20px;
}

h3 {
    display: flex;
    justify-content: center;
}

.hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #006064;
    /*background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    /* border: 1px solid gray; */
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-description {
    width: 100%;
}

.project-details {
    width: 50%;
}

.project-imageContainer {
    width: 50%;
}

.project-imageContainer img {
    max-width: 100%;
}

.project-image {
    width: 100%;
}

.header {
    background-color: #006064;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}
.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
    display: flex;
    align-items: center;
}

.footer {
    color: white;
    background-color: #006064;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.footer-description {
    display: flex;
    align-items: center;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #e0f7fa;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid #00838f;
    color: #00838f;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background-color: #0097a7;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mb-5 {
    margin-top: 3rem;
}

.btn-info {
    border-radius: 5px;
}

.social {
    display: flex;
    align-items: center;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 5px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.linkedin {
    background-image: url('../images/linkedin.svg'); 
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

/* .form-email input {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/gmail.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
} */

/* .form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
} */

/* .form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
} */

.container {
    /*border: 2px solid red;*/
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}

/*Si vas a hacer Desktop first empieza por el MQ mas grande*/

@media screen and (max-width: 1023px) {
    .event-list-title {
        margin-left: 0;
    }
    .portfolio {
        padding: 0;
    }
    .project-course {
        font-size: 1em;
    }
    .container {
        padding: 0 1em;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
    }
    .icon-menu:before {
        content: "\e9bd";
    }
    .burger-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color:rgba(0, 0, 0, .8);
        display: none;
        line-height: 40px;
        text-align: center;
        position: fixed;
        z-index: 4;
        left: 5px;
        top: 5px;
        color: white;
    }
}

@media screen and (max-width: 767px) { 
    h2 {
        font-size: 1.2em;
        margin: .5em 0;
    }
    .burger-button {
        display: block;
    }
    
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
    }
    .header a {
        flex: 1;
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .logo {
        text-align: center;
    }
    .menu {
        position: fixed;
        background: rgba(0, 172, 193, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        /* height: 100vw; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active {
        left: 0;
    }
    .proyect {
        display: block;
    }
    .project-imageContainer {
        width: auto;
        text-align: center;
    }
    .project-details {
        width: auto;
        /* font-size: 16px; */
    }
    .project-course, .project-date, .project-url {
        margin: .3em 0;
    }
    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-url {
        font-size: 1em;
    }
    .project-course {
        font-size: 1em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description {
        font-size: 1em;
    }
    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%;
    }
    .event-detail {
        margin: -2em .5em .5em;
        padding: 1em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    .project-details {
        font-size: 14px;
    }
    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button {
        margin: 1em auto;
    }
    .form-email h3 {
        margin-top: 0;
    }
    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
    .social-link {
        width: 40px;
        height: 40px;
        background-size: 100%;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.2em;
    }
    .hero {
        padding: 2em 1em;
    }
}